$layout-breakpoint-small:350px;
$layout-breakpoint-medium:800px;
$black-3: black;
$lue-violet: #6444fe;
$black: #1f2123;
$black-2: #303236;
$gainsboro: #dedfe7;
$blue-violet-2: #7a40ee;
$color-2: #fc6432;
$dark-grey: #999ca3;
$ghost-white: #efeeed;
$white: white;
$blurple-3: #5546ff;
$light-blue: #7f84f1;
$hite-smoke: #f5f5f7;
$slate-blue: #5546ff;
$dim-grey: #6b6d73;
$spring-green: #07e26c;
$goldenrod: #f7b70f;
$goldenrod-2: #e0a200;
$steel-blue: #427ef2;
$medium-orchid: #b671e4;
$deep-pink: #f01486;
$lurple-2: #cedafa;
$blurple-3-4: #7f97f1;
$softshadw: rgba(48, 50, 54, .7);
$main-font:"Open Sans", sans-serif;