@import 'variables';

.hero-container {
    margin-top: 2em;
    padding-top: 3em;
    color: $white;
    font-family: $main-font;
    min-height: 60vh;

    @media (max-width: $layout-breakpoint-medium) {
        padding: 1em .5em 1em .5em;
        min-height: 70vh;
    }

    @media (max-width: $layout-breakpoint-small) {
        padding: 1em .5em 1em .5em;
        min-height: 50vh;
        margin-top: .5em;
    }

}

.hero-container>.hero-item>P:first-child {
    font-size: 1.7em;

    @media (max-width: $layout-breakpoint-small) {
        font-size: 1.3em;
    }
}

.hero-item {

    width: 60vw;

    @media (max-width: $layout-breakpoint-medium) {
        padding: 1em;
        width: 100vw;
    }

    @media (max-width: $layout-breakpoint-small) {
        padding: .7em;
    }

}

.h2-grid {
    font-size: 7em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;

    @media (max-width: $layout-breakpoint-medium) {
        font-size: 2em;
    }

    @media (max-width: $layout-breakpoint-small) {
        font-size: 2em;
    }
}

.h2-grid>.paragraph-1 {
    min-width: 55%;

    text-align: right;
    margin: 0;

    @media (max-width: $layout-breakpoint-medium) {
        min-width: 100%;
        text-align: center;
        font-size: 3em;
    }

    @media (max-width: $layout-breakpoint-small) {
        font-size: 3em;
    }
}

.h2-grid>.paragraph-2 {
    min-width: 40%;
    max-height: 2em;
    margin: 0;

    >p {
        @media (max-width: $layout-breakpoint-medium) {
            font-size: 3em;
            text-align: right !important;
            background: #000;
            min-width: 110%;
        }

        @media (max-width: $layout-breakpoint-small) {
            font-size: 3em;
        }
    }

    >img {

        width: 90%;

        @media (max-width: $layout-breakpoint-medium) {
            display: none;
        }
    }


}


.h2-grid>.paragraph-3 {
    min-width: 35%;
    max-height: 2em;
    margin: 0;

    @media (max-width: $layout-breakpoint-medium) {
        min-width: 50%;
    }

    @media (max-width: $layout-breakpoint-small) {
        min-width: 50%;
    }
}


.h2-grid>.paragraph-4 {
    min-width: 60%;

    max-height: 2em;
    margin: 0;

    @media (max-width: $layout-breakpoint-medium) {
        font-size: 2.5em;
        text-align: center;
        min-width: 100%
    }

    @media (max-width: $layout-breakpoint-small) {
        font-size: 1.7em;
        max-height: 3em;
    }
}

.h2-grid>.d-flex {
    align-items: center;
    justify-content: space-evenly;
    max-width: 4em;
}

.call-to-action {
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;

    @media (max-width: $layout-breakpoint-medium) {
        padding: .5em;
    }

    @media (max-width: $layout-breakpoint-small) {}
}

.call-to-action>div {
    @media (max-width: $layout-breakpoint-medium) {
        flex-direction: column;
        font-size: 1.1em;
    }

    @media (max-width: $layout-breakpoint-small) {
        font-size: 1.0em;
    }
}

.cta-desc {
    @media (max-width: $layout-breakpoint-small) {

        justify-content: start;
    }
}

.cta-desc>p {
    width: 100%;
    margin-bottom: 0;
    font-family: 'Opensauceone', sans-serif;
    font-size: 1.15em;
    text-align: center;

    @media (max-width: $layout-breakpoint-medium) {
        font-size: 1em;
        justify-content: start;
        width: 95%;

    }

    @media (max-width: $layout-breakpoint-small) {
        width: 90%;
        font-size: 1em;
        text-align: left;
        line-height: 1.5em;
    }
}

.cta-button {
    width: 80%;
    cursor: pointer;

    @media (max-width: $layout-breakpoint-medium) {
        width: 100%;

        margin-top: 1.5em;
        padding: 0;

    }

    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        justify-content: start;
    }
}

.cta-button>div {
    width: 90%;
    padding: .5em;
    border-radius: 1em;
    gap: .5em;
    background-color: $color-2;
    background-image: linear-gradient(135deg, #fc9b40, rgba(122, 64, 238, 0));

    animation: bounce-1 infinite ease-in-out;
    @media (max-width: $layout-breakpoint-medium) {
        width: 60%;
        padding: .2em;
        gap: .2em;
        margin: 0;

    }

    @media (max-width: $layout-breakpoint-small) {
        font-size: .9em;
        width: 80%;
        padding: 0;
    }
}

.cta-button>div button {
    width: 80%;
    overflow-x: hidden;
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 1.2em;
    color: white;
    cursor: pointer;
    padding: 1em;
    font-family: $main-font;
    font-size: 1.3em;
    @media (max-width: $layout-breakpoint-medium) {
       font-size: 1.1em;

    }

    @media (max-width: $layout-breakpoint-small) {
       padding:.4em;
    }
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); 
    }}
    
.hero-card {
    margin-top: 5em;
    border-top: 0.2px solid $black-2;
    color: $white;
    font-family: $main-font;
    padding: 1em;

    @media (max-width: $layout-breakpoint-medium) {}

    @media (max-width: $layout-breakpoint-small) {
        padding: .5em;
    }

}


.hero-card-title {
    font-size: 1.7em;
    display: flex;
    gap: .2em;

    @media (max-width: $layout-breakpoint-medium) {}

    @media (max-width: $layout-breakpoint-small) {}

}

.hero-card-title>p {
    max-width: 80%;

    @media (max-width: $layout-breakpoint-medium) {}

    @media (max-width: $layout-breakpoint-small) {
        max-width: 90%;
    }

}

.hero-card-title>span {
    font-size: .5em;
    margin-top: 1.4em;

    >* {
        background-color: blue;
        color: rgb(0, 106, 255);
        border-radius: 50%;
        animation: scale-animation 1s infinite;
    }
}

@keyframes scale-animation {
    50% {
        scale: .5;
    }

    100% {
        scale: 1.2;
    }
}

.h-card {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: .5em;
    flex-wrap: wrap;
    padding: 1em;

    @media (max-width: $layout-breakpoint-medium) {
        padding: .4em;
        gap: .2em;
    }

    @media (max-width: $layout-breakpoint-small) {
        gap: .5em;
        padding: .2em;

    }

}

.card {

    max-width: 23%;
    background-color: rgba(255, 255, 255, 0.1);

    background-size: 23% 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: .7em;
    padding: 1em .5em 1em .1em;
    transition: all 500ms;
    border-radius: 1em;
    margin-top: .3em;

    @media (max-width: $layout-breakpoint-medium) {
        max-width: 200px;
        background-size: 26% ;
        margin-top: .5em;
        margin-left: .5em;
    }

    @media (max-width: $layout-breakpoint-small) {
        background-size: 25%;
        width: 95%;
    }
}

.card:nth-child(1) {
    background-image: url('https://assets-global.website-files.com/618b0aafa4afde9048fe3926/652d67bd7616f335f78fdbe4_messari.jpeg');
}

.card:nth-child(2) {
    background-image: url('https://assets-global.website-files.com/618b0aafa4afde9048fe3926/65ce4becca4334cda511f7e0_rm6XqGZx_400x400.jpg');
}

.card:nth-child(3) {
    background-image: url('https://assets-global.website-files.com/618b0aafa4afde9048fe3926/65ce4b726c342883cd3473c0_a08tpU5a_400x400.png');
}

.card:nth-child(4) {
    background-image: url('https://assets-global.website-files.com/618b0aafa4afde9048fe3926/65bd0817abcf4bddb32b20aa_ljYHrVEV_400x400.jpg');
}

.card:hover {

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.card div {
    width: 65%;
    ;
    vertical-align: middle;
}

.card-desc {
    font-size: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;


    @media (max-width: $layout-breakpoint-medium) {
        font-size: 1.2em;


    }

    @media (max-width: $layout-breakpoint-small) {}

}

.card>div>p {
    margin: 0;

    @media (max-width: $layout-breakpoint-medium) {}

    @media (max-width: $layout-breakpoint-small) {}

}

.card>div>p:first-child {
    color: $dark-grey;
}

.features {
    background-color: $white;
    margin-top: 5rem;
    padding: 2em;

    @media (max-width: $layout-breakpoint-medium) {

        padding: 1em;
    }

    @media (max-width: $layout-breakpoint-small) {}

}
.features {
   
    padding: 2em;

    @media (max-width: $layout-breakpoint-medium) {

        padding: 1em;
    }

    @media (max-width: $layout-breakpoint-small) {}

}

.box {
    background-color: $ghost-white;
    border-radius: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 2em 3em 2em;
    text-decoration: none;
    display: flex;
    position: relative;
    gap: 8em;
}

.layout2-grid-3cols {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    font-family: $main-font;
    padding: 1em;
    @media (max-width: $layout-breakpoint-medium) {

        grid-template-columns: 1fr;
    }

    @media (max-width: $layout-breakpoint-small) {}
}
.box > div{
    min-height: 30em;
}
.box > img {
    width: 50px;
}

.margin-medium {
    margin-bottom: 1.5rem;

    p {
        letter-spacing: -.02em;
        margin-bottom: 0;
        font-size: 1.7em;
        line-height: 1.5;
    }
}

.category-label {
    background-color: $gainsboro;
    color: $black-3;
    text-transform: uppercase;
    border-radius: 100px;
    padding: .5rem .75rem;
    font-size: 11px;
    display: inline-block;
}

.heading-large {
    font-size: 36px;
}

h3 {
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $main-font;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.4;
}

.icon-arrow {
    display: inline-block;
    width: 30px;
    height: 1em;
    //transform: translateX(-.5em);
    transition: all 300ms;
   
}
@keyframes bounce {
        50%{
            transform: translateX(-.2em);
        }
        100%{
            transform: translateX(.2em);
        }
}
.buttons-simple {
	color: $blue-violet-2;
	border-radius: 20px;
	align-items: center;
	font-size: 1.5em;
	display: flex;
    align-items: center;
}
.buttons-simple:hover .icon-arrow{
animation: bounce 2s infinite;
}